<div fxLayout="row" fxLayoutAlign="center center" class="login-panel-base">
    <div fxFlex="0 1 500px" fxLayout="column">

        <div class="login-panel" fxLayout="column">

            <h1>Inicio sesión</h1>

            <button type="button" (click)="login()" fxFlex="100%" mat-flat-button color="primary">Ingresar</button>
            <br>
            <button type="button" (click)="loginAsAdmin()" fxFlex="100%" mat-flat-button color="primary">Ingresar como administrador</button>
        </div>

    </div>
</div>