<mat-toolbar *ngIf="isLogged">

    <span>E Commerce</span>
    <span class="example-spacer"></span>
    <button [routerLink]="['product/list']" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>settings</mat-icon>
    </button>
    <button [routerLink]="['cart/details']" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<br>
<router-outlet></router-outlet>